.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.btnGrp{
  width: 96vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.anchor{
  text-decoration: none;
}

.btnGrpBtn{
  font-size: 14px;
  height: 5vh;
  border-radius: 10px;
  border-color: transparent;
  background-color: white;
  width: 10vw;
  cursor: pointer;
  font-weight: 400;
}


.active{
  background-color: black;
  color: white;
}